<div class="container mt-4">
  <div class="row">
    <h2>Listado de estudiantes</h2>
  </div>
  <br>
  <table class="table" *ngIf="listStudent.length > 0">
    <thead>
      <tr>
        <th>Nro</th>
        <th>Nombre</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of listStudent; let index = index">
        <td>{{index + 1}}</td>
        <td>{{student.name}}</td>
        <td [ngClass]="student.status === 'Activo' ? 'badge bg-success' : 'badge bg-secondary'">{{student.status}}</td>
      </tr>
    </tbody>
  </table>
  <div>
    <h3 *ngIf="listStudent.length == 0">No hay registros para mostrar</h3>
  </div>
</div>